.wrapper_with_padding
  #doc_show
    %h.title= @doc.title
    %p= simple_format(@doc.content)
    
    .buttons
      = link_to "modifier les documents", edit_doc_path(@doc), class: "button"
      = link_to "effacer les documents", doc_path(@doc), method: :delete, data:{confirm: "etes-vous sur ?"},  class: "button"